<div class="background-pages edit d-flex flex-column align-items-center">

  <h1>Players</h1>
  <%= render "shared/players_input" %>

  <%= form_tag edit_game_path(@game), method: :get, data_controller: "set_players_controller", class: "number_of_players_form", style: "display:none;" do %>
    <%= number_field_tag :number_of_players,
      params[:number_of_players],
      class: "form-control",
      placeholder: "How many players ?"
    %>
    <%= submit_tag "Set players", class: "btn btn-primary" %>
  <% end %>


  <div class=<%= @number_of_players ? "d-none" : "btn-next"%> data-controller="set-players" id="first-btn-next">
    <%= link_to "Next", games_path, data: { action: 'click->set-players#send', turbo: false}, class: "violet-button" %>
  </div>

  <% if @number_of_players %>
    <%= simple_form_for @game do |f| %>
      <%# <%= f.simple_fields_for :players do |p| %>
        <%# <%= p.input :nickname, label: 'Player name', as: :string, required: true %>
      <%# <% end %>
      <% @number_of_players.times do |i| %>
        <input class="form-control string required game-players mb-2" required="required" aria-required="true" type="text" value="" name="game[players_attributes][<%= i %>][nickname]" id="game_players_attributes_<%= i %>_nickname" placeholder="Gamer <%= i + 1 %>">
        <% i += 1 %>
      <% end %>
      <div class="d-flex flex-column align-items-center">
        <%= f.button :submit, "Next", class: "violet-button" %>
      </div>
    <% end %>
  <% end %>
</div>
