<div class="background-pages new d-flex flex-column align-items-center">

  <h1 class="title">Choose a <strong>duration</strong> for the game</h1>
  <%= render "shared/duration_slider" %>

  <div style="display:none;">
    <%= simple_form_for @game do |f| %>
      <%= f.input :duration, as: :integer, required: true, label: false %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <div class="btn-next" data-controller="set-duration">
    <%= link_to "Next", games_path, data: { action: 'click->set-duration#send', turbo: false}, class: "violet-button" %>
  </div>


</div>
