
<div class="d-flex flex-column align-items-center">
  <% if @track %>
    <h1 class="title">Find the <strong style="color:#E359F9"><%= @questions.sample %></strong>!</h1>

    <div id="app" class="mb-4"></div>


    <button type="button" id="start" class="btn-player mb-4"> Start </button>
    <%# <button type="button" id="time" class="btn-player mb-4"> Add 15s </button> %>
    <%= link_to "Next", solution_game_path(@game, track_id: @track.id), class: 'violet-button', data: { turbo: "false" } %>

    <div id="player" data-token="<%= @user.token %>" data-track-id="<%= @track.spotify_url %>"></div>
    <audio src="" autoplay></audio>
  <% else %>
    <div class= "margin mt-5">
      <h1 class="mb-4">Your Blind Test is over ...</h1>
      <%= link_to "Go to results", results_game_path(@game), class: "btn-player" %>
    </div>
  <% end %>
</div>
