<div class="background-home">
  <div class="d-flex flex-column mx-3">
    <div class="card-solution" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= RSpotify::Track.find(@track.spotify_id).album.images.first['url'] %>)">
      <h2><%= @track.title.truncate_words(4) %></h2>
      <h3 class="mt-1"><%= @track.artist.tr('"[','').tr(']"','').truncate_words(4) %></h3>
    </div>

    <h3 class="title-winner mb-3">Select winner(s)</h3>
    <div class="margin" data-controller="update-player-score">
        <% @game.players.each do |player| %>
            <%= link_to player_path(player), data: { update_player_score_target: 'link', action: 'click->update-player-score#send', turbo: false}, class: "player-name" do %>
            <div class="player-name no-margin"><%= player.nickname %>
              <p id="score"><%= player.score || "0" %></p>
            </div>
            <%= "" if player.score %>
            <% end%>
        <% end %>
    </div>

    <div class= "margin">
      <%= link_to "Validate score 👉", game_path(@game), class: "violet-button" %>
    </div>
    <%# <div class= "margin mt-5"> %>
      <%# <#%= link_to "Go to results", results_game_path(@game), class: "btn-player" %>
    <%# </div> %>
  </div>
</div>

 
