<div class="background-home">
  <div class="d-flex flex-column align-items-center">
    <h1>The answer :</h1>

    <div class="card-solution mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://upload.wikimedia.org/wikipedia/en/9/93/Lovely_Day_-_Bill_Withers.jpeg)">
      <h2><%= @track[0].title %></h2>
      <h3 class="mt-1"><%= @track[0].artist.tr('"[','').tr(']"','') %></h3>
    </div>

    <h3 class="mt-5" style="color: white">Select the winner</h3>
    <div class="margin" data-controller="update-player-score">
        <% @game.players.each do |player| %>
            <%= link_to player_path(player), data: { update_player_score_target: 'link', action: 'click->update-player-score#send', turbo: false}, class: "mt-5 btn-player player d-flex justify-content-between" do %>
            <div><%= player.nickname %></div>
            <div>•</div>
            <div id="score"><%= player.score || "0 pt" %></div>
            <%= "pts" if player.score %>
            <% end%>
        <% end %>
    </div>
  
    <div class= "margin mt-5">
      <%= link_to "Next", results_game_path(@game), class: "btn-player" %>
    </div>
  </div>
</div>
