<div class="background-home">
  <div class="d-flex flex-column align-items-center">
    <h2>The answer was...</h2>

    <div class="card-playlist mt-5">
      <p>Lovely Day, by Bill Withers</p>
    </div>

    <h3 class="mt-5">Select the winner</h3>

    <div class="d-flex flex-column" data-controller="update-player-score">
      <% @game.players.each do |player| %>
          <%= link_to player_path(player), data: { update_player_score_target: 'link', action: 'click->update-player-score#send', turbo: false}, class: "mt-5 btn-player player d-flex justify-content-between" do %>
          <div><%= player.nickname %></div>
          <div>•</div>
          <div id="score"><%= player.score || "0 pt" %></div>
          <%= "pts" if player.score %>
          <% end%>
      <% end %>
    </div>

    <div class= "mt-5">
      <%= link_to "Next", results_game_path(@game), class: "btn-player" %>
    </div>
  </div>
</div>
