
  <div class="search-bar">
    <%= render "shared/search" %>
  </div>
  <% if @playlists.empty? == true %>
    <div class="error-message center">
      <%= "No playlists found" %>
    </div>
  <% end %>

  <div class="wrapper1 align-items-center">
    <% @playlists.each do |playlist| %>

      <%= link_to create_tracks_playlist_path(playlist, game_id: @game.id) do %>
        <div class="card-playlist mt-2" style="background-image: linear-gradient(rgba(0, 0,0,0.2),rgba(0,0,0,0.2)), url(<%= playlist.image_url%>)">
          <%= playlist.title.truncate_words(4) %>
        </div>
      <% end %>
    <% end %>
  </div>

